.wrapper {
    background-color: #FCEADE;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 50px -26px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7vh;
    font-family: monospace;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40%;
}
.text1 {
  font-family: monospace;
    color: rgb(74, 74, 255);
    font-size: 4vh;
    margin-bottom: 0.7vh;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2vh;
    color: black;
}
.link {
    white-space: nowrap;
}
.text2 {
  font-family: monospace;
    color: #000000;
    font-size: 3vh;
    margin-top: 3vh;
}
.span {
    color: blue;
    font-size: 50px;

}
